@font-face {
    font-family: Bebas Neue;
    src: url('fonts\BebasNeue.ttf') format('truetype');
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    src: url('fonts\Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    src: url('fonts\Montserrat-Bold.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
}

/* === BASE STYLES === */

:root {
    --mbawula-orange: #D77806;
    --mbawula-black: #000000;
    --mbawula-dark-yellow: #E2A709;
    --mbawula-white: #FDFCF9;
    --mbawula-grey: #9D9D9C;
}

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--mbawula-black);
    color: var(--mbawula-white);
    line-height: 1.6;
}

/* === HEADER === */
header {
    padding: 2rem 0;
    text-align: center;
    background-color: var(--mbawula-black);
    border-bottom: 2px solid var(--mbawula-orange);
}

.logo {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 4.5rem;
    letter-spacing: 3px;
    color: var(--mbawula-orange);
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.tagline {
    font-family: 'Open Sauce Two', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 1.2rem;
    color: var(--mbawula-white);
}

/* === HERO SECTION === */
.hero {
    height: 80vh;
    background: linear-gradient(rgba(0, 0, 0, 0.7), url('')); /*<<<Remember to put a Background Image*/
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 2rem;
}

.hero h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3.5rem;
    color: var(--mbawula-white);
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 1.5rem;
    text-shadow: 2px 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.hero p {
    font-family: 'Open Sauce Two', sans-serif;
    font-style: italic;
    font-size: 1.5rem;
    max-width: 800px;
    margin-bottom: 2rem;
}

.countdown {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3rem;
    color: var(--mbawula-black);
    margin-top: 1rem;
    letter-spacing: 3px;
}

/* === FILMS SECTION */
.films-section {
    padding: 4rem 2rem;
    background-color: var(--mbawula-black);
}

.section-title {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2.5rem;
    color: var(--mbawula-orange);
    text-align: center;
    margin-bottom: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.films-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 2rem;
    padding: 0 2rem;
}

.film-card {
    background-color: var(--mbawula-black);
    border: 1px solid var(--mbawula-orange);
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.film-card:hover {
    transform: translateY(-5px);
}

.film-poster {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.film-info {
    padding: 1.5rem;
}

.film-title {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.5rem;
    color: var(--mbawula-white);
    margin-bottom: 0.5rem;
}

.film-director {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.5rem;
    color: var(--mbawula-grey);
}

/* === GALLERY SECTION === */
.gallery-section {
    padding: 4rem 2rem;
    background-color: var(--mbawula-black);
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
    padding: 0 1rem;
}

.gallery-item {
    position: inherit;
    overflow: hidden;
    border-radius: 8px;
    /* box-shadow: 0 4px 8px rgba(255, 107, 0, 0.2); */
    transition: transform 0.3s ease;
    aspect-ratio: 4/3;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.5s ease;
}

.gallery-item:hover img {
    transform: scale(1.1);
}

.caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to top, rgba(0,0,0,0.8), transparent);
    color: white;
    padding: 1.5rem 1rem 1rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.gallery-item:hover .caption {
    opacity: 1;
}

/* === FOOTER === */
footer {
    background-color: var(--mbawula-black);
    padding: 2rem;
    text-align: center;
    border: var(--mbawula-orange);
}

.contact-title {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.5rem;
    color: var(--mbawula-orange);
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.contact-info {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: var(--mbawula-white);
    margin-bottom: 0.5rem;
}

.social-links {
    margin-top: 1rem;
}

.social-links a {
    color: var(--mbawula-white);
    margin: 0 10px;
    font-size: 1.2rem;
    text-decoration: none;
}

.copyright {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    color: var(--mbawula-grey);
    margin-top: 1.5rem;
}

/* === RESPONSIVE DESIGN === */
@media (max-width: 768px) {
    .logo {
        font-size: 3rem;
    }

    .hero h2 {
        font-size: 2.5rem;
    }

    .hero p {
        font-size: 2rem;
    }

    .countdown {
        font-size: 2rem;
    }

    .films-grid {
        grid-template-columns: repeat(auto-fill, minmax (200px, 1fr));
    }

    .gallery-grid {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    .caption {
        opacity: 1;
        padding: 1rem;
        font-size: 0.8rem;
    }
}
